bin/
gen/
build/
out/
tmp/
*~
.gradle/
.settings/
.sonar/
local.properties
.DS_Store
*.orig
artifacts
AppBuildInfo.java
.idea/*
*.iml
reports/
artwork/*-assets
.navigation
*.hprof
Thumbs.db
**.log
captures/
*.pyc
**/jacoco.exec
